@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

:root {
     --luqa-green: #50a650; /* Replace with the exact hex code of your vibrant green */
    --luqa-green-light: #8ecf8e; /* Lighter Shade */
    --luqa-green-dark: #3d7a3d; /* Darker Shade */
    --luqa-green-muted: #6e9d6e; /* Muted Shade */
    --luqa-green-dewy: #4d9d4d; /* Dewy Green */
    --luqa-green-earthy: #3b6a3b; /* Earthy Green */
    --luqa-blue: #00008B; /* Replace with the exact hex code of your deep blue */
    --luqa-cream: #f5f5f5;
    --luqa-gray: #2d3748;
    --luqa-gray-light: #bdbfc1;

}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


h1 {
    font-weight: 700;
}

p {
    font-weight: 400; 
}


.header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.navbar .logo {
    font-size: 24px;
    color: black;

}

.logo img{
    width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;

}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px 25px;
    font-weight: 500;


}

nav ul li :hover {
     background-color: black; 
     border-radius: 10px;
     color: #f8f8f8 !important;
}

nav ul li a.login {
    /* text-decoration: underline ; */
    color: var(--luqa-green-dewy);
}



nav ul li a.get-started {
    background-color: var(--luqa-green-dewy);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.hero,.hero-product {
    text-align: center;
    padding: 50px 0px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;

     position: relative;
     height: 60vh;
    overflow: hidden;
    justify-content: center;
}

.hero-product{
    padding: 0;
    height: 40vh;

}

.hero-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    z-index: 2;
    color: #fff;
    transform: translateY(-10%);
    transform: translateX(-10%);
    z-index: 1;
    transition: transform 0.4s ease-out; 

}


.hero-text button{
    width: 30%;
    color: white;
    background-color: black;
}


.hero-text h1{
    text-align: left;
    font-size: 68px;
    line-height: 74px;
}

.hero-text p {
    text-align: left;
}

.hero h1 {
    margin: 0;
    color: #514f4f;
}

.hero p {
    color: #666;
}

.hero button {
    background-color: rgb(34, 33, 33);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}



.info-section {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Vertically centers the content */
    justify-content: space-between; /* Space out content */
    padding: 50px 100px;
    background-color: var(--luqa-green-dewy);
    color: #ffffff;
    text-align: left;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%); /* Creates a slanting curve from the top left to the right */

}

.info-section h2, .info-section p {
    flex: 1; 
    padding: 10px;
}

.info-section h2 {
    font-size: 36px; /* Adjust based on your design */
    margin-bottom: 20px;
    line-height: 55px;
    flex: 1;

}

.info-section p {
    font-size: 18px; 
    width: 50%; 
    margin: auto;
    line-height: 25px;
    flex: 3;
}

.features-section-boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */

}
.features-section{
    padding: 20px 100px;
}


.feature {
    width: 30%; 
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.feature img {
    width: 100%; 
    margin-bottom: 20px;
    height: 17rem;
    border-radius: 25px;
    /* border: 2px solid black; */
    object-fit: contain;

}
.choose-crm img {
    border-radius: 50%;
    border: 2px solid var(--luqa-gray-light);

}

.text-content h2{
    color: var(--luqa-green-muted);
}

.text-content p{
    color: var(--luqa-gray);
}

.text-content span{
    color: var(--luqa-green-dark);
}

.choose-crm-block{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.feature h3 {
    color: #333; /* Dark grey color for the text */
    margin-bottom: 10px;
}

.feature p {
    color: #666; /* Lighter grey color for the text */
    font-size: 14px; /* Smaller font size for the paragraph */
}

.creatives-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 100px;
    background-color: #f9f9f9; 
    margin-bottom: 30px;
}

.creatives-section .illustration {
    flex: 1;
}

.creatives-section .text-content {
    flex: 2;
    margin-left: 20px;
}

.creatives-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.creatives-section p {
    font-size: 1.1em;
    margin: 0;
    margin-left: 12px;

}

.creatives-section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 50px;
}

.creatives-section .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration img{
    max-width: 40rem;
}

.creatives-section .choose-crm img {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}
#hero-image{
    width: 40rem;
    height: 40rem;
}
.hero-image{
    
    /* width: auto; */
    position: absolute;
    top: 40%;
    right: 4%;
    transform: translateY(-28%);
    z-index: 1;
    transition: transform 0.4s ease-out; /* Smooth transition */

}

.trusted-section {
    background-color: var(--luqa-green-dewy);
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.trusted-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.trusted-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.trusted-section p {
    font-size: 16px;
    margin-bottom: 40px;
}

.trusted-section .logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trusted-section .logo {
    flex: 1;
    margin: 10px;
    max-width: 150px;
    text-align: center;
}

.trusted-section .logo img {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.trusted-section .logo p {
    font-size: 14px;
    margin-top: 0;
}



.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
}

.choose-crm{
    display: flex;
}


/* Media query for smaller screens */
@media (max-width: 920px) {
    .hero-image {
    display: none;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 40vw;
        /* text-align: center; */
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 10;
        background-color: #fff;
        height: 100vh;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
        align-items: flex-start;
    }

    .burger {
        display: block;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@media (min-width: 920px) and (max-width: 1350px) {
    .hero-image {
        opacity: 0.3;
    }
}

@media (max-width: 768px) {
    .creatives-section {
        padding: 0;
    }
    .feature {
    width: calc(100vw - 10px); 
}
      .info-section {
        flex-direction: column; /* Stacks elements vertically on smaller screens */
        text-align: center;
        padding: 20px 20px;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%); /* Adjusts the curve to be more subtle on smaller screens */

    }

    .info-section h2, .info-section p {
        flex: none; /* Takes full width of the container */
        width: 100%; /* Explicit width setting for clarity */
    }

    .illustration img{
    width: calc(100vw - 10px); 
    }
    .features-section {
        flex-direction: column; 
        padding: 20px 20px;
    }

    .feature {
        width: 90%; /* Makes each box take more space on smaller screens */
        margin: 10px auto; /* Centers the boxes */
    }

       .hero {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }
    
    .hero-text, .hero-image {
        flex: 1 1 100%; /* Each element takes full width of the container */
    }
    
    .hero-image img {
        max-width: 100%; /* Image should not exceed container width */
    }
}


footer {
    background-color: var(--luqa-gray);
    color: #ffffff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container div {
    flex: 1;
    margin: 10px;
}

.footer-logo h2 {
    font-size: 24px;
    margin: 0;
}

.footer-contact, .footer-links, .footer-follow {
    margin-top: 20px;
}

.footer-contact p, .footer-links ul, .footer-follow p {
    margin: 10px 0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: #0065f4;
    text-decoration: none;
}

.footer-follow form {
    display: flex;
    flex-direction: column;
}

.footer-follow input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
}

.footer-follow button {
    padding: 10px;
    background-color: #000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #000;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #000;
    margin-top: 20px;
}

.footer-bottom a {
    text-decoration: none;
}


.animated-block {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.animated-block.in-view {
    opacity: 1;
    transform: scale(1);
}



.social-icons{
    display: flex;
    justify-content: space-evenly;
}

.social-icon{
    width: 25px;
}

.illustration img, .text-content, .features-section h2, .footer-container {
    opacity: 0; /* Initial state */
    transition: opacity 1s ease-out; /* Smooth transition */
}

.in-view {
    animation: fade 1s linear both;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* .illustration img, .text-content, .features-section h2, .footer-container{
    animation: fade linear both;
    animation-timeline: view();
    animation-range:2% cover 50%
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
} */


@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Home Page Slide-Out Animation */
@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Product Page Slide-In Animation */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Slide out the home page */
.slide-out {
    animation: slideOut 1s ease forwards;
}

/* Add media queries for responsive adjustments */
@media (max-width: 768px) {
    .logo{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar {
        align-items: center;
    }

    nav ul {
        padding: 20px;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width: 425px) {
.footer-container{
    display: flex;
    flex-direction: column;
}

.trusted-section {
    padding: 0;
}

h3, h2, h1{
    margin: 0;
}

}


/* <---product page css --> */

.product-hero-section {
    background: rgb(251, 251, 251);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 2rem;
    padding-bottom: 0;
    /* margin-top: 4rem; */
    height: calc(100vh - 90px);
    /* background: linear-gradient(to bottom, white, rgb(200, 232, 202)); */


}

.hero-product {
    text-align: center;
    /* margin-bottom: 2rem; */
}
.product-hero-text{
    animation: slideInLeft 1s ease forwards; /* Slide-in animation from the left */

}
.product-hero-image-container img{

    animation: slideInRight  1s ease forwards; /* Slide-in animation from the left */
}

#dashboard-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    animation: slideInTop 1s ease forwards; /* Slide-in animation from the right */
}

.product-preview {
    display: flex;
    justify-content: center;
    width: 100%;
}

.product-hero-text {
    color: var(--luqa-gray);
    font-size: 1rem;
}

.green-head-product{
    color: var(--luqa-green-dark);
}

.product-hero-text h1 {
    margin-bottom: 0;
        text-align: left;
    font-size: 68px;
    line-height: 74px;
        color: #514f4f;


}

.product-hero-text p {
    color: rgb(152, 152, 152);
    font-size: 1rem;
    margin-top: 15px;
    text-align: left;

}
.product-content{
    padding: 5rem;
    position: relative;
}
.visualise-image{
    position: absolute;
    opacity: .1;
    /* width: 100vw; */
}
.product-section-head h1{
    color: var(--luqa-gray);
     font-size: 40px;
     margin: 0;
     font-weight: 700;
}
.product-section-head h2{
    color: var(--luqa-green);
    margin:8px 0px;
     font-size: 2rem;

}
.chart-section{
    display: flex;
    flex: 1 2;
    
}
.chart-image{
    width: 50%;
}
.chart-image img{
    width: 50%;
}

.diagonal-split {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
}

.left-side, .right-side {
    position: absolute;
    width: 100%;
    height: 100%;
}

.left-side {
    background-color: var(--luqa-gray); /* Left side color */
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%); /* Creates a diagonal split */
}

.right-side {
    background-color: var(--luqa-green-muted); /* Right side color */
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%); /* Creates the opposite diagonal split */
}


@media (min-width: 768px) {
    .hero-product{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15%;
    }
    .product-hero-section {
        /* justify-content: space-between; */
        /* padding: 4rem 2rem; */
        height: calc(100vh - 90px);
    }

    .product-hero-text {
        padding-left: 6rem;
        font-size: 1rem;
        margin-top: 2rem ;
        margin-bottom: 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-hero-text h1 {
        margin: 0;
        line-height: 4rem;
    }

    .product-hero-text p {
        font-size: 1.25rem;
    }

    #dashboard-image {
        max-height: 17rem;
    }
}

/* Slide-in animations */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.pricing-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.pricing-card {
    background-color: white;
    border: 2px solid var(--luqa-gray-light);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    width: 280px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.pricing-card:hover {
    transform: scale(1.05);
}

.pricing-card h3 {
    font-size: 1rem;
    color: var(--luqa-gray);
    margin-bottom: 10px;
}

.pricing-card h1 {
    font-size: 2rem;
    color: var(--luqa-blue); /* Black color for the price */
    margin-bottom: 20px;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.pricing-card ul li {
    margin-bottom: 10px;
    color: var(--luqa-gray);
}

.pricing-card button {
    background-color: var(--luqa-green);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pricing-card button:hover {
    background-color: var(--luqa-green-dark);
}

/* Gradient background for the center card */
.popular {
background: linear-gradient(
        52deg, 
        var(--luqa-green-dewy) 90%, /* Green takes up 70% of the gradient */
        #c1d2ac 10% /* Light green starts at 70% and takes up 30% */
    );    color: white;
    border: none;
    transform: scale(1.1);
    /* box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);  */
}

.popular h1, .popular ul > li {
    color: white;
}

.popular-badge {
    background-color: white;
    color: var(--luqa-green-dark);
    font-weight: bold;
    border-radius: 30px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 15px;
}

.pie-chart-section-wrapper{
    display: flex;
    flex: 1 1;
    
    
}

.pie-chart-image-wrapper{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    
    
}

.pie-chart-image,.revenue-image{
    width: 65%;
    height: 65%;
    border-radius: 10px;
  box-shadow: -5px 10px 8px rgba(0, 0, 0, 0.4);
}

.revenue-image{
position: absolute;
top: 9rem;
left: 14rem;
  box-shadow: -20px 10px 10px rgba(0, 0, 0, 0.4);

}

/* General styling for the pie chart details */
.pie-chart-details {
    text-align: left;
    padding: 2rem;
    border-radius: 10px;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    color: var(--luqa-gray);
    display: flex;
    flex: 1 2;
    
}

.pie-chart-details p, .pie-chart-details h1{
/* color: var(--luqa-gray); */
    color: #666;
}

.pie-chart-details p{
font-size: 16px !important;
}
.pie-chart-image-wrapper{
    padding: 1rem;
    position: relative;
}
.pie-chart-section-wrapper p{
    font-size: larger;
}
.pie-chart-title {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 1rem;
}

.pie-chart-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

/* Styling for the list points */
.pie-chart-points {
    list-style: none;
    padding-left: 0;
}

.pie-chart-points li {
    position: relative;
    padding-left: 2.5rem;
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s ease forwards;
    animation-delay: calc(0.1s * var(--i)); /* Delay based on the index of the list */
}

/* Adding icons to list items */
.pie-chart-points li i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
    color: #4CAF50;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

/* Adding hover effects to the list items */
.pie-chart-points li:hover i {
    transform: scale(1.2);
    color: #34a853; /* Change icon color on hover */
}

.product-hero-image-container{
    position: relative;
}
.product-hero-image-container img{
height: 25rem;
    position: absolute;
    top: -13rem;
    left: -1rem;
}

/* Styling for the button */
.try-button {
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    width: 40%;
    cursor: pointer;
}

/* Flex container */
.try-button-block {
    display: flex;
    flex-direction: row; /* Stack the button and hr vertically */
    align-items: center;
    gap: 6px;
}

/* Horizontal Line */
.hr-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.horizontal-line {
 border: none;
  height: 1.5px;
  background-color: var(--luqa-green); /* Use any color you like */
  width: 100%;   
   border: none;
    border-top: 2px solid #ccc;
}

